#SearchContainer {
    position: relative;
    width: 150%;
    height: 7.5vh;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

