#SearchText {
    position: absolute;
    width: 95%;
    height: 5vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* background-color: green; */
}

#Input {
    position: absolute;
    width: 100%;
    height: 5vh;
    background-color: #162327;
    color: #EAC67A;
    border-style: none;
    font-size: 24px;

}

#Input:focus {
    outline: none;
}

::placeholder {
    color: #EAC67A;
    opacity: 0.8;
}

.dd-wrapper {
    position: relative;
    top: 0;
    /* background: brown; */
    font-size: 24px;
    color: #EAC67A;
    z-index: 5;
}

.dd-wrapper-newclass {
    top: 0;
}

.dd-header {
    /* position: absolute; */
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dd-list {

}
